<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> List Makanan </title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
  {% include "navbar_admin.html"%}
    {% block content %}

    <h1> Hello {{username}} </h1>
    <p style="text-align:center;"> <b>List Makanan</b></p>

    {% if list_makanan %}
        <table>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Harga</th>
                <th scope="col">Tingkat Energi</th>
                <th scope="col">Tingkat Kelaparan</th>
                <th scope="col">Action</th>

            </tr>

            {% for ma in list_makanan %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ma.nama}}</td>
                <td>{{ma.harga}}</td>
                <td>{{ma.tingkat_energi}}</td>
                <td>{{ma.tingkat_kelaparan}}</td>
                <td>
                  <button style="border-radius: 8px;"><a href="/makanan/admin_update_makanan_view/{{ma.nama}}">Update</a></button>
                {% if ma.delete == 'true' %}
                  <button style="border-radius: 8px;"><a href="/makanan/admin_delete_makanan/{{ma.nama}}">[Delete]</a></button>
                {% endif %}
              </td>

            </tr>
        {% endfor %}    
        </table>
    {% endif %}
</body>
{% endblock %}
</html>

