<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create tokoh</title>
</head>
<body>
    <h1>Detail tokoh</h1>

    {% for data in list %}

    <text>Nama: {{ data.nama }} </text>
    <br />

    <text>ID Rambut: {{ data.id_rambut }} </text>
    <br />

    <text>ID Mata: {{ data.id_mata }} </text>
    <br />

    <text>ID Rumah: {{ data.id_rumah }} </text>
    <br />

    <text>Warna kulit: {{ data.warna_kulit }} </text>
    <br />

    <text>Pekerjaan: {{ data.pekerjaan }} </text>
    <br />

    {% endfor %}
</body>
</html>




