<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> List Bekerja </title>
</head>
<body>
    <h1> Hello {{username}} </h1>

    {% if list_bekerja %}
        <table>
            <tr>
                <th scope="col">Username Pengguna</th>
                <th scope="col">Nama Tokoh</th>
                <th scope="col">Nama Pekerjaan</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Keberangkatan ke</th>
                <th scope="col">Honor</th>
            </tr>

            {% for b in list_bekerja %}
                <tr>
                    <td>{{ b.username_pengguna }}</td>
                    <td>{{ b.nama_tokoh }}</td>
                    <td>{{ b.nama_pekerjaan }}</td>
                    <td>{{ b.timestamp }}</td>
                    <td>{{ b.jumlah_keberangkatan }}</td>
                    <td>{{ b.honor }}</td>
                </tr>
            {% endfor %}
        <table>
            {% else %}
                <p>Belum ada bekerja yang digunakan</p>
            {% endif %}
</body>
</html>

