<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create Koleksi Rambut</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% include 'navbar_admin.html' %}
    <h1 class="text-center mt-3">FORM BUAT RUMAH</h1>
    <form method="POST" class="container mt-5" id="admin_create_koleksi_rumah_form">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">ID</label>
        <input
          class="form-control"
          name="id_koleksi"
          value="{{ new_id }}"
          required
          readonly
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Nama Rumah</label>
        <input
          class="form-control"
          name="nama"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Harga Jual</label>
        <input
          class="form-control"
          name="harga_jual"
          type="number"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Harga Beli</label>
        <input
          class="form-control"
          name="harga_beli"
          type="number"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Kapasitas Barang</label>
        <input
          class="form-control"
          name="kapasitas_barang"
          type="number"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary mx-auto d-block">Simpan</button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
  <script>
    $("#admin_create_koleksi_rumah_form").submit(e => {  
      const hargaJualVal = $("input[name='harga_jual']").val();
      const namaRumahVal = $("input[name='nama_rumah']").val();
      const hargaBeliVal = $("input[name='harga_beli']").val();
      const kapasitasBarangVal = $("input[name='kapasitas_barang']").val();

      if (hargaJualVal === "" || namaRumahVal === "" || hargaBeliVal === "" || kapasitasBarangVal === "") {
        e.preventDefault();
        alert("Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu");
      }
    });
  </script>
</html>
