<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>List Koleksi Mata</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% include 'navbar_pemain.html' %}
    <h1 class="text-center mt-3">LIST KOLEKSI MATA</h1>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Harga Jual</th>
            <th scope="col">Warna Mata</th>
          </tr>
        </thead>
        {% for item in list_koleksi_mata %}
        <tbody>
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.harga}}</td>
            <td>{{item.warna}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
