{% include "navbar_pemain.html"%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale">
    <title> Buat Menggunakan Apparel </title>
</head>
<body>
    <h1> Hello {{username}} </h1>
    <h2> Form Buat Menggunakan Apparel </h2>

    <div class="box">
        <div>
            <form method="POST">
            {% csrf_token %}
                <div class="div-row">
                    <label for="Nama Tokoh">Nama Tokoh</label>
                        <select id="NamaTokoh" name="NamaTokoh" placeholder="Nama Tokoh">
                            {% for nt in nama_tokoh %}
                                <option value='{{ nt.nama }}'>{{ nt.nama }}</option>
                            {% endfor %}
                        </select>
                    <br />
                </div>
                <div class="div-row">
                    <label for="Apparel">Apparel</label>
                        <select id="Apparel" name="Apparel" placeholder="Apparel">
                            {% for a in apparel %}
                                <option value={{ a.id_koleksi }}>{{ a.id_koleksi }}</option>
                            {% endfor %}
                     </select>
                    <br />
                <div class="div-row">
                    <input id="adminButton" type="submit" values="Pakai" style="border-radius: 8px; border-color: black; color: #007BFF;" />
                    <!-- <input class="padded-button" type="submit" value="Pakai" /> -->
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}