<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create Kategori Apparel</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% include 'navbar_pemain.html' %}

    <h1 class="text-center mt-3">FORM BUAT KOLEKSI TOKOH</h1>
    <form
      method="POST"
      class="container mt-5"
      id="admin_create_kategori_apparel_form"
    >
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Nama Tokoh: </label>
        <select name="tokoh" required class="form-select" aria-label="Pilih tokoh">
          {% for tokoh in list_nama_tokoh %}
            <option value="{{ tokoh.nama }}">{{ tokoh.nama }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">ID Koleksi: </label>
        <select name="koleksi" class="form-select" aria-label="Pilih ID Koleksi">
          {% for koleksi in list_koleksi %}
            <option value="{{ koleksi.id }}">Rp {{ koleksi.harga }} (ID: {{koleksi.id}})</option>
          {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-primary mx-auto d-block">
        Simpan
      </button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
  <script>
    $("#pengguna_create_koleksi_tokoh_form").submit((e) => {
      const categoryValue = $("input[name='kategori']").val();
      if (categoryValue === "") {
        e.preventDefault();
        alert(
          "Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu"
        );
      }
    });
  </script>
</html>
